body{
    background-color: black;
}

/* LOGO */
.logo{
   width: 250px;
}

#create-logo{
    text-shadow: 5px 2px 5px darkgray;
    font-size: 50px;
    color: rgb(255, 42, 42);
    text-align: center;
}

/* Navigation */
ul{ 
        list-style-type: none;
        background-color:#282A35;
        color:#f1f1f1;
        font-family: 'Source Sans Pro Topnav',sans-serif;
        
}

ul li{
    display: inline-block;
    padding: 20px;
    
}

ul li:hover{
    background-color: green;
    color: white;
    cursor:pointer
}

.sub1 ul{
    margin: 0;
    padding: 0;
}

.sub1 ul li{
    display: block;
}

ul li:hover .sub1{
    display: block;
    position: absolute;
    margin-left: -20px;
    margin-top: 20px;
}

.sub1{display: none;}

.sub2 ul{
    margin: 0;
    padding: 0;
}

.sub2 ul li{
    display: block;
}

ul li:hover .sub2{
    display: block;
    position: absolute;
    margin-left: -20px;
    margin-top: 20px;
}

.sub2{display: none;}

.sub3 ul{
    margin: 0;
    padding: 0;
}

.sub3 ul li{
    display: block;
}

ul li:hover .sub3{
    display: block;
    position: absolute;
    margin-left: -20px;
    margin-top: 20px;
}

.sub3{display: none;}

.sub4 ul{
    margin: 0;
    padding: 0;
}

.sub4 ul li{
    display: block;
}

ul li:hover .sub4{
    display: block;
    position: absolute;
    margin-left: -20px;
    margin-top: 20px;
}

.sub4{display: none;}

.sub5 ul{
    margin: 0;
    padding: 0;
}

.sub5 ul li{
    display: block;
}

ul li:hover .sub5{
    display: block;
    position: absolute;
    margin-left: -20px;
    margin-top: 20px;
}

.sub5{display: none;}

.sub6 ul{
    margin: 0;
    padding: 0;
}

.sub6 ul li{
    display: block;
}

ul li:hover .sub6{
    display: block;
    position: absolute;
    margin-left: -20px;
    margin-top: 20px;
}

.sub6{display: none;}


/* Images */


h3{
    color: white;
    background-color: #282A35;
    height: 30px;
    padding-top: 10px;
    padding-left: 30px;
}

button{
    width: 200px;
    height: 30px;
    background-color:hotpink;
}

h4{
    color: white;
    padding-left: 42px;
}

b{
    color: white;
}
.container1{
    display: flex;
    height: 350px;
    width: 1500px;
    justify-content: space-evenly;
    padding-top: 10px;
}

.box{
    height: 250px;
    width: 200px;
    box-shadow: 2px 1px 10px 1px;
    color:white;
    background-color: white;
    border-radius: 5%;
}

img{
    border-radius: 5%;
}

#id1 img{
    height: 250px;
    width: 200px;
}

#id2 img{
    height: 250px;
    width: 200px;
}

#id3 img{
    height: 250px;
    width: 200px;
}

#id4 img{
    height: 250px;
    width: 200px;
}

#id5 img{
    height: 250px;
    width: 200px;
}

#id6 img{
    height: 250px;
    width: 200px;
}